---
import '@node/bootstrap-icons/font/bootstrap-icons.css';
import { ClientRouter } from 'astro:transitions'; /* ViewTransitions Mode */
import conf from "@conf";

import SeoOg from "@layouts/main/SeoOg.astro";
import Sidebar from "@layouts/main/Sidebar.astro";
import Footer from "@layouts/main/Footer.astro";
import Analytics from '@components/Analytics.astro';
import { image } from '@components/Image.astro';

const canonicalURL = new URL(Astro.url.pathname, conf.site);

let { title = conf.name, lead = conf.term, description = conf.desc, tags = null, class: className = 'main container my-3', 
snap= conf.image, frontmatter = {} } = Astro.props;

if (frontmatter && frontmatter.name) {
	title = frontmatter.name;
	lead = frontmatter.term;
	description = frontmatter.desc;
	if (frontmatter.snap) snap = frontmatter.snap;
	tags = frontmatter.tags;
}

---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="theme-color" content={conf.themeColor} />
    	<title>{title}</title>
		<meta name="description" content={description} />
		<meta http-equiv="cache-control" content="no-cache" />
		<meta http-equiv="expires" content="0" />
		<meta http-equiv="pragma" content="no-cache" />
		<SeoOg title={title} url={canonicalURL} description={description} snap={snap} alt={title}/>
		<link rel="canonical" href={canonicalURL}/>
		<link rel="icon" type="image/svg+xml" href={image(conf.favicon)} />
		<link href="/bootstrap-min.css" rel="stylesheet"/>
		<link href="/cookies-min.css" rel="stylesheet"/>
		<ClientRouter/>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Roboto&display=swap" rel="stylesheet">

		<link href="/bootstrap-min.css" rel="stylesheet"/>
		<ClientRouter/>
  </head>
  <body class="project">
    <div class="conainer-fluid">
		<div class="row g-0">
			<div class="col-12 col-md-4 col-lg-3 bg-primary">
				<Sidebar/>
			</div>
			<div class="col-12 col-md-8 col-lg-9">
				<main id="main" class={className}>
				<slot />
				</main>
			</div>
		</div>
    </div>
	<Footer/>

    <script src="@node/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<Analytics ua={conf.ua_code}/>
  </body>
</html>
